#_imageData {
  zoom: 20%;
  position: fixed;
  top: 0;
  right: 0;
}

body {
  /* background-color: #888888; */
}

#sketch-holder {
  margin: auto;
  width: 960px;
  border: 1px solid black;
  padding: 0px;
}
